# Шаблон переменных окружения.
# Реальные секреты БД хранятся в Hashicorp Vault.

VAULT_DEV_ROOT_TOKEN_ID=your_vault_root_token
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db